<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Aman Verma</title>
</head>
<body>
    {{>navbar}}
    {{!-- //hero start and ends  --}}
    <div class = "container-fluid mt-5 ">
        <div class="row">
            <div class ="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                             <h1>Hey there <img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="45px"></h1>
                            <h1>I'm Aman Verma</h1>
                           
                           
<div class="social">
    <span>
<a href="https://www.facebook.com/vermaamanin/">
  <img align="center" alt="Aman's Faebook" width="32px" src="https://raw.githubusercontent.com/peterthehan/peterthehan/master/assets/facebook.svg" />
</a> 
</span>&nbsp;&nbsp;&nbsp;&nbsp;
<span>
<a href="https://twitter.com/VermaAman_IN">
  <img align="center" alt="Aman Verma | Twitter" width="32px" src="https://raw.githubusercontent.com/peterthehan/peterthehan/master/assets/twitter.svg" />
</a></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span>
<a href="https://www.linkedin.com/in/amanvermain/">
  <img align="center" alt="Aman's LinkedIN" width="32px" src="https://raw.githubusercontent.com/peterthehan/peterthehan/master/assets/linkedin.svg" />
</a></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span>
<a href="https://github.com/amanverma21">
  <img align="center" alt="Aman's Github" width="32px" src="https://raw.githubusercontent.com/peterthehan/peterthehan/master/assets/github.svg" />
</a></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span>
<a href="averma2k19@gmail.com">
  <img align="center" alt="Aman's Gmail" width="32px" src="images/gmail.svg" />
</a></span>
</div>
                    </div>
                    
                        {{!-- right side --}}
                        <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                            <figure>
                                <img src="images/file.gif" alt="herosection_image" width="400px" ">
                            </figure>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    {{!-- hero and ends ends --}}

 {{>about}}
{{>service}}
{{>maps}}
{{>contact}}
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../jq/bootstrap.js" type="text/javascript"></script>
</body>
</html>