{{!-- about me start and ends ends --}}

<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About me</h1> <br> <br> <br><br> 
            <div class="row">
            <div class="row">
            <div class="row">
            <div class="row">
            <div class="row">
                <div class="col-md-6 col-12 hero-text">
                    <figure>
                        <img src="images/aman.jpg" width="400px" alt="herosection_image">
                    </figure>
                </div>

                {{!-- right side --}}
                <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">

                    <p>Hello I'm<span class="bold-style"> Aman Verma</span>
                        ,Sophomore at IIIT Surat <br> pursuing B.Tech in Electronics & Communication Engineering.<br>
                        I am a keen learner having skills and proficiency to work 
                        well with current technology as well as flexible in adopting newer.
                        Currently I'm much involved in Competitive Programming and Development
                        using Javascript,NodeJS,ExpressJS <br>
                        & MongoDB as well as other technologies.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
{{!-- about me start and ends ends --}}