<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Skills</h1>
            {{!-- <p class="text-center sub-heading">My Service</p> --}}
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>CP Profiles</h4>
                            <a href="https://www.codechef.com/users/amanverma21">CodeChef</a><br>
                            <a href="https://codeforces.com/profile/amanverma21">Codeforces</a><br>
                            <a href="https://www.hackerearth.com/@amanverma21">HackerEarth</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Languages & Tools</h4>
                            <div>
                                <code><img height="30" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/javascript/javascript.png"></code>
                                <code><img height="30" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/cpp/cpp.png"></code>
                                <code><img height="30" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/python/python.png"></code>
                                <code><img height="30" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/git/git.png"></code>
                                <code><img height="30" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/android/android.png"></code>
                                <code><img height="30" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/nodejs/nodejs.png"></code>
                                <code><img height="30" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/react/react.png"></code>
                                <code><img height="30" src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/mongodb/mongodb.png"></code>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Google Cloud</h4>
                            <a href="https://www.qwiklabs.com/public_profiles/44851c9c-1891-4bd3-8748-b221ae58ed9a">Qwiklabs
                                Profile</a>
                               
                        </div>
                    </div>
                </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;&nbsp; <br> <br> &nbsp;
                <h1 class="text-center main-heading">Experience</h1>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Clubs</h4>

                            <h5>Executive, ACM NIT Surat </h5><br>
                            <h5>Junior Developer, GDSC IIIT Surat</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Internship</h4>
                            <h5>Campus Mantri - GeeksforGeeks <br>
                                (July,21-Present)
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Achievements</h4>
                            <h5 class="text-align-left">Winner, ACM NIT Surat Summer Challenge</h5><br>
                            <h5>Winner, ACM NIT Surat Inception 6.0</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>